<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/users">Users <span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Logout</a>
      </li>

    </ul>
  </div>
</nav>
<div class="container"  >
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">username</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users" >
      <th scope="row">1</th>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <button class="btn" (click)="detail(user.id)">Detail</button>

      <button class="btn" (click)="delete(user.id)">Delete</button>
    </tr>

    </tbody>
  </table>
</div>

